[buildout]
extends = http://download.zope.org/Zope2/index/2.13.6/versions.cfg
parts =
    test
    coverage

develop = .

[test]
recipe = zc.recipe.testrunner
eggs =
    Products.BeakerSessionDataManager
defaults = ['-v', '-s', 'Products.BeakerSessionDataManager']

[coverage]
recipe = createzopecoverage
